@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p><a href="#"><img src="https://pbs.twimg.com/media/Dtwu1eeWoAU_Be9?format=jpg&name=small" alt="ps4joy" width="300" height="300" /></a></p>
    Tugay<br />
    Antalya,Turkey<br />
    <abbr title="Phone">P:</abbr>
    555.555.555
</address>

<address>
   
    <p><a href="mailto: t8ugay@gmail.com" class="btn btn-primary btn-lg">SEND MAIL &raquo;</a></p>
</address>