@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p><a href="#"><img src="https://www.4theplayer.com/wp-content/uploads/2019/08/4ThePlayer-Logo.png" alt="ps4joy" width="800" height="200" /></a></p>
    <h1>4thePL4YERS</h1>
    <p class="lead">We are here to sell best game furnitures with best prices</p>
    <p><a href="/game" class="btn btn-primary btn-lg">SHOP &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gaming items </h2>
        <p>
            Play like a class: Keyboard and mouse is never enough for a true player
        </p>
        <p><a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/71uQYNKiKCL._SX522_.jpg" alt="ps4joy" width="300" height="300" /></a></p>
        <p><a class="btn btn-default" href="/game">Take me there &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Games</h2>
        <p>Best Games with best prices</p>
        <p><a href="#"><img src="https://psmedia.playstation.com/is/image/psmedia/the-last-of-us-part-2-standard-pack-disc-01-ps4-gb-26sep19_1569503464062?$Icon$" alt="lou2" width="300" height="300" /></a></p>
        <p><a class="btn btn-default" href="/game">GAMES! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>IN-GAME</h2>
        <p>In-game shopping. You need some boost? or you want to be more attractive. This category is for you "Premium rich PLAYERS"</p>
        <p><a href="#"><img src="https://www.searchpng.com/wp-content/uploads/2019/04/Game-Coins-PNG-jpeg.png" alt="lou2" width="300" height="300" /></a></p>
        <p><a class="btn btn-default" href="/game">Im rich &raquo;</a></p>
    </div>
</div>